
.testimonials .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonials .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

.testimonials .swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    display: none;
}